App_WebReferences/stam/webserviceGeneral.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CheckValidIstarlId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckValidIstarlIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckValidIstarlIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAgeByDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="date" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAgeByDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAgeByDateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckValidIstarlIdSoapIn">
    <wsdl:part name="parameters" element="tns:CheckValidIstarlId" />
  </wsdl:message>
  <wsdl:message name="CheckValidIstarlIdSoapOut">
    <wsdl:part name="parameters" element="tns:CheckValidIstarlIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetAgeByDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetAgeByDate" />
  </wsdl:message>
  <wsdl:message name="GetAgeByDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetAgeByDateResponse" />
  </wsdl:message>
  <wsdl:message name="CheckValidIstarlIdHttpGetIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CheckValidIstarlIdHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAgeByDateHttpGetIn">
    <wsdl:part name="date" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAgeByDateHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CheckValidIstarlIdHttpPostIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CheckValidIstarlIdHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAgeByDateHttpPostIn">
    <wsdl:part name="date" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAgeByDateHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="WebServiceGeneralSoap">
    <wsdl:operation name="CheckValidIstarlId">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"> בודק חוקיות מספר תעודת זהות ישראלית - הקלד 9 ספרות</wsdl:documentation>
      <wsdl:input message="tns:CheckValidIstarlIdSoapIn" />
      <wsdl:output message="tns:CheckValidIstarlIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAgeByDate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"> מחזיר גיל של אדם לפי תאריך לידה</wsdl:documentation>
      <wsdl:input message="tns:GetAgeByDateSoapIn" />
      <wsdl:output message="tns:GetAgeByDateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceGeneralHttpGet">
    <wsdl:operation name="CheckValidIstarlId">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"> בודק חוקיות מספר תעודת זהות ישראלית - הקלד 9 ספרות</wsdl:documentation>
      <wsdl:input message="tns:CheckValidIstarlIdHttpGetIn" />
      <wsdl:output message="tns:CheckValidIstarlIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAgeByDate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"> מחזיר גיל של אדם לפי תאריך לידה</wsdl:documentation>
      <wsdl:input message="tns:GetAgeByDateHttpGetIn" />
      <wsdl:output message="tns:GetAgeByDateHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceGeneralHttpPost">
    <wsdl:operation name="CheckValidIstarlId">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"> בודק חוקיות מספר תעודת זהות ישראלית - הקלד 9 ספרות</wsdl:documentation>
      <wsdl:input message="tns:CheckValidIstarlIdHttpPostIn" />
      <wsdl:output message="tns:CheckValidIstarlIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAgeByDate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"> מחזיר גיל של אדם לפי תאריך לידה</wsdl:documentation>
      <wsdl:input message="tns:GetAgeByDateHttpPostIn" />
      <wsdl:output message="tns:GetAgeByDateHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceGeneralSoap" type="tns:WebServiceGeneralSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckValidIstarlId">
      <soap:operation soapAction="http://tempuri.org/CheckValidIstarlId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAgeByDate">
      <soap:operation soapAction="http://tempuri.org/GetAgeByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceGeneralSoap12" type="tns:WebServiceGeneralSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckValidIstarlId">
      <soap12:operation soapAction="http://tempuri.org/CheckValidIstarlId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAgeByDate">
      <soap12:operation soapAction="http://tempuri.org/GetAgeByDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceGeneralHttpGet" type="tns:WebServiceGeneralHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="CheckValidIstarlId">
      <http:operation location="/CheckValidIstarlId" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAgeByDate">
      <http:operation location="/GetAgeByDate" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceGeneralHttpPost" type="tns:WebServiceGeneralHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="CheckValidIstarlId">
      <http:operation location="/CheckValidIstarlId" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAgeByDate">
      <http:operation location="/GetAgeByDate" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceGeneral">
    <wsdl:port name="WebServiceGeneralSoap" binding="tns:WebServiceGeneralSoap">
      <soap:address location="http://loveburn.com/school/webserviceGeneral.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceGeneralSoap12" binding="tns:WebServiceGeneralSoap12">
      <soap12:address location="http://loveburn.com/school/webserviceGeneral.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceGeneralHttpGet" binding="tns:WebServiceGeneralHttpGet">
      <http:address location="http://loveburn.com/school/webserviceGeneral.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceGeneralHttpPost" binding="tns:WebServiceGeneralHttpPost">
      <http:address location="http://loveburn.com/school/webserviceGeneral.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>