source/App_WebReferences/WebService/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertComment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MemberID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="MovieID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="commentSubject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="commentContent" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="commentRating" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="dt1" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertCommentResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetCommentsByMovieId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="movieID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCommentsByMovieIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCommentsByMovieIdResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAvgRating">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="movieID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAvgRatingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetAvgRatingResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllMyComments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="memberID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllMyCommentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllMyCommentsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLastId">
        <s:complexType />
      </s:element>
      <s:element name="GetLastIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetLastIdResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRatinByMovieAndComment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="movieID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="commentID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRatinByMovieAndCommentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetRatinByMovieAndCommentResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPow">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="num1" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="num2" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPowResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPowResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMembers">
        <s:complexType />
      </s:element>
      <s:element name="GetMembersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMembersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsCommented">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="movieID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="memberID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsCommentedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsCommentedResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCommentForMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="movieID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="memberID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCommentForMemberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCommentForMemberResult" type="tns:wsComments" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="wsComments">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="commentRating" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="commentID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MemberID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="movieID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="commentSubject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="commentContent" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateComment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_C" type="tns:wsComments" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCommentResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteComment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="movieID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="memberID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCommentResponse">
        <s:complexType />
      </s:element>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="double" type="s:double" />
      <s:element name="int" type="s:int" />
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="boolean" type="s:boolean" />
      <s:element name="wsComments" nillable="true" type="tns:wsComments" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertCommentSoapIn">
    <wsdl:part name="parameters" element="tns:InsertComment" />
  </wsdl:message>
  <wsdl:message name="InsertCommentSoapOut">
    <wsdl:part name="parameters" element="tns:InsertCommentResponse" />
  </wsdl:message>
  <wsdl:message name="GetCommentsByMovieIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetCommentsByMovieId" />
  </wsdl:message>
  <wsdl:message name="GetCommentsByMovieIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetCommentsByMovieIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetAvgRatingSoapIn">
    <wsdl:part name="parameters" element="tns:GetAvgRating" />
  </wsdl:message>
  <wsdl:message name="GetAvgRatingSoapOut">
    <wsdl:part name="parameters" element="tns:GetAvgRatingResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllMyCommentsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllMyComments" />
  </wsdl:message>
  <wsdl:message name="GetAllMyCommentsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllMyCommentsResponse" />
  </wsdl:message>
  <wsdl:message name="GetLastIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetLastId" />
  </wsdl:message>
  <wsdl:message name="GetLastIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetLastIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetRatinByMovieAndCommentSoapIn">
    <wsdl:part name="parameters" element="tns:GetRatinByMovieAndComment" />
  </wsdl:message>
  <wsdl:message name="GetRatinByMovieAndCommentSoapOut">
    <wsdl:part name="parameters" element="tns:GetRatinByMovieAndCommentResponse" />
  </wsdl:message>
  <wsdl:message name="GetPowSoapIn">
    <wsdl:part name="parameters" element="tns:GetPow" />
  </wsdl:message>
  <wsdl:message name="GetPowSoapOut">
    <wsdl:part name="parameters" element="tns:GetPowResponse" />
  </wsdl:message>
  <wsdl:message name="IsExistSoapIn">
    <wsdl:part name="parameters" element="tns:IsExist" />
  </wsdl:message>
  <wsdl:message name="IsExistSoapOut">
    <wsdl:part name="parameters" element="tns:IsExistResponse" />
  </wsdl:message>
  <wsdl:message name="GetMembersSoapIn">
    <wsdl:part name="parameters" element="tns:GetMembers" />
  </wsdl:message>
  <wsdl:message name="GetMembersSoapOut">
    <wsdl:part name="parameters" element="tns:GetMembersResponse" />
  </wsdl:message>
  <wsdl:message name="IsCommentedSoapIn">
    <wsdl:part name="parameters" element="tns:IsCommented" />
  </wsdl:message>
  <wsdl:message name="IsCommentedSoapOut">
    <wsdl:part name="parameters" element="tns:IsCommentedResponse" />
  </wsdl:message>
  <wsdl:message name="GetCommentForMemberSoapIn">
    <wsdl:part name="parameters" element="tns:GetCommentForMember" />
  </wsdl:message>
  <wsdl:message name="GetCommentForMemberSoapOut">
    <wsdl:part name="parameters" element="tns:GetCommentForMemberResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCommentSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateComment" />
  </wsdl:message>
  <wsdl:message name="UpdateCommentSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateCommentResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteCommentSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteComment" />
  </wsdl:message>
  <wsdl:message name="DeleteCommentSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteCommentResponse" />
  </wsdl:message>
  <wsdl:message name="InsertCommentHttpGetIn">
    <wsdl:part name="MemberID" type="s:string" />
    <wsdl:part name="MovieID" type="s:string" />
    <wsdl:part name="commentSubject" type="s:string" />
    <wsdl:part name="commentContent" type="s:string" />
    <wsdl:part name="commentRating" type="s:string" />
    <wsdl:part name="dt1" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertCommentHttpGetOut" />
  <wsdl:message name="GetCommentsByMovieIdHttpGetIn">
    <wsdl:part name="movieID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCommentsByMovieIdHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetAvgRatingHttpGetIn">
    <wsdl:part name="movieID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAvgRatingHttpGetOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:message name="GetAllMyCommentsHttpGetIn">
    <wsdl:part name="memberID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllMyCommentsHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetLastIdHttpGetIn" />
  <wsdl:message name="GetLastIdHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetRatinByMovieAndCommentHttpGetIn">
    <wsdl:part name="movieID" type="s:string" />
    <wsdl:part name="commentID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetRatinByMovieAndCommentHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetPowHttpGetIn">
    <wsdl:part name="num1" type="s:string" />
    <wsdl:part name="num2" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPowHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="IsExistHttpGetIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IsExistHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetMembersHttpGetIn" />
  <wsdl:message name="GetMembersHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="IsCommentedHttpGetIn">
    <wsdl:part name="movieID" type="s:string" />
    <wsdl:part name="memberID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IsCommentedHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetCommentForMemberHttpGetIn">
    <wsdl:part name="movieID" type="s:string" />
    <wsdl:part name="memberID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCommentForMemberHttpGetOut">
    <wsdl:part name="Body" element="tns:wsComments" />
  </wsdl:message>
  <wsdl:message name="DeleteCommentHttpGetIn">
    <wsdl:part name="movieID" type="s:string" />
    <wsdl:part name="memberID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteCommentHttpGetOut" />
  <wsdl:message name="InsertCommentHttpPostIn">
    <wsdl:part name="MemberID" type="s:string" />
    <wsdl:part name="MovieID" type="s:string" />
    <wsdl:part name="commentSubject" type="s:string" />
    <wsdl:part name="commentContent" type="s:string" />
    <wsdl:part name="commentRating" type="s:string" />
    <wsdl:part name="dt1" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertCommentHttpPostOut" />
  <wsdl:message name="GetCommentsByMovieIdHttpPostIn">
    <wsdl:part name="movieID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCommentsByMovieIdHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetAvgRatingHttpPostIn">
    <wsdl:part name="movieID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAvgRatingHttpPostOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:message name="GetAllMyCommentsHttpPostIn">
    <wsdl:part name="memberID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllMyCommentsHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetLastIdHttpPostIn" />
  <wsdl:message name="GetLastIdHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetRatinByMovieAndCommentHttpPostIn">
    <wsdl:part name="movieID" type="s:string" />
    <wsdl:part name="commentID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetRatinByMovieAndCommentHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetPowHttpPostIn">
    <wsdl:part name="num1" type="s:string" />
    <wsdl:part name="num2" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPowHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="IsExistHttpPostIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IsExistHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetMembersHttpPostIn" />
  <wsdl:message name="GetMembersHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="IsCommentedHttpPostIn">
    <wsdl:part name="movieID" type="s:string" />
    <wsdl:part name="memberID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IsCommentedHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetCommentForMemberHttpPostIn">
    <wsdl:part name="movieID" type="s:string" />
    <wsdl:part name="memberID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCommentForMemberHttpPostOut">
    <wsdl:part name="Body" element="tns:wsComments" />
  </wsdl:message>
  <wsdl:message name="DeleteCommentHttpPostIn">
    <wsdl:part name="movieID" type="s:string" />
    <wsdl:part name="memberID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteCommentHttpPostOut" />
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="InsertComment">
      <wsdl:input message="tns:InsertCommentSoapIn" />
      <wsdl:output message="tns:InsertCommentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCommentsByMovieId">
      <wsdl:input message="tns:GetCommentsByMovieIdSoapIn" />
      <wsdl:output message="tns:GetCommentsByMovieIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAvgRating">
      <wsdl:input message="tns:GetAvgRatingSoapIn" />
      <wsdl:output message="tns:GetAvgRatingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMyComments">
      <wsdl:input message="tns:GetAllMyCommentsSoapIn" />
      <wsdl:output message="tns:GetAllMyCommentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLastId">
      <wsdl:input message="tns:GetLastIdSoapIn" />
      <wsdl:output message="tns:GetLastIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRatinByMovieAndComment">
      <wsdl:input message="tns:GetRatinByMovieAndCommentSoapIn" />
      <wsdl:output message="tns:GetRatinByMovieAndCommentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPow">
      <wsdl:input message="tns:GetPowSoapIn" />
      <wsdl:output message="tns:GetPowSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsExist">
      <wsdl:input message="tns:IsExistSoapIn" />
      <wsdl:output message="tns:IsExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMembers">
      <wsdl:input message="tns:GetMembersSoapIn" />
      <wsdl:output message="tns:GetMembersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsCommented">
      <wsdl:input message="tns:IsCommentedSoapIn" />
      <wsdl:output message="tns:IsCommentedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCommentForMember">
      <wsdl:input message="tns:GetCommentForMemberSoapIn" />
      <wsdl:output message="tns:GetCommentForMemberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateComment">
      <wsdl:input message="tns:UpdateCommentSoapIn" />
      <wsdl:output message="tns:UpdateCommentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteComment">
      <wsdl:input message="tns:DeleteCommentSoapIn" />
      <wsdl:output message="tns:DeleteCommentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceHttpGet">
    <wsdl:operation name="InsertComment">
      <wsdl:input message="tns:InsertCommentHttpGetIn" />
      <wsdl:output message="tns:InsertCommentHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCommentsByMovieId">
      <wsdl:input message="tns:GetCommentsByMovieIdHttpGetIn" />
      <wsdl:output message="tns:GetCommentsByMovieIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAvgRating">
      <wsdl:input message="tns:GetAvgRatingHttpGetIn" />
      <wsdl:output message="tns:GetAvgRatingHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMyComments">
      <wsdl:input message="tns:GetAllMyCommentsHttpGetIn" />
      <wsdl:output message="tns:GetAllMyCommentsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLastId">
      <wsdl:input message="tns:GetLastIdHttpGetIn" />
      <wsdl:output message="tns:GetLastIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRatinByMovieAndComment">
      <wsdl:input message="tns:GetRatinByMovieAndCommentHttpGetIn" />
      <wsdl:output message="tns:GetRatinByMovieAndCommentHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPow">
      <wsdl:input message="tns:GetPowHttpGetIn" />
      <wsdl:output message="tns:GetPowHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="IsExist">
      <wsdl:input message="tns:IsExistHttpGetIn" />
      <wsdl:output message="tns:IsExistHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMembers">
      <wsdl:input message="tns:GetMembersHttpGetIn" />
      <wsdl:output message="tns:GetMembersHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="IsCommented">
      <wsdl:input message="tns:IsCommentedHttpGetIn" />
      <wsdl:output message="tns:IsCommentedHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCommentForMember">
      <wsdl:input message="tns:GetCommentForMemberHttpGetIn" />
      <wsdl:output message="tns:GetCommentForMemberHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteComment">
      <wsdl:input message="tns:DeleteCommentHttpGetIn" />
      <wsdl:output message="tns:DeleteCommentHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceHttpPost">
    <wsdl:operation name="InsertComment">
      <wsdl:input message="tns:InsertCommentHttpPostIn" />
      <wsdl:output message="tns:InsertCommentHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCommentsByMovieId">
      <wsdl:input message="tns:GetCommentsByMovieIdHttpPostIn" />
      <wsdl:output message="tns:GetCommentsByMovieIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAvgRating">
      <wsdl:input message="tns:GetAvgRatingHttpPostIn" />
      <wsdl:output message="tns:GetAvgRatingHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMyComments">
      <wsdl:input message="tns:GetAllMyCommentsHttpPostIn" />
      <wsdl:output message="tns:GetAllMyCommentsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLastId">
      <wsdl:input message="tns:GetLastIdHttpPostIn" />
      <wsdl:output message="tns:GetLastIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRatinByMovieAndComment">
      <wsdl:input message="tns:GetRatinByMovieAndCommentHttpPostIn" />
      <wsdl:output message="tns:GetRatinByMovieAndCommentHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPow">
      <wsdl:input message="tns:GetPowHttpPostIn" />
      <wsdl:output message="tns:GetPowHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="IsExist">
      <wsdl:input message="tns:IsExistHttpPostIn" />
      <wsdl:output message="tns:IsExistHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMembers">
      <wsdl:input message="tns:GetMembersHttpPostIn" />
      <wsdl:output message="tns:GetMembersHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="IsCommented">
      <wsdl:input message="tns:IsCommentedHttpPostIn" />
      <wsdl:output message="tns:IsCommentedHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCommentForMember">
      <wsdl:input message="tns:GetCommentForMemberHttpPostIn" />
      <wsdl:output message="tns:GetCommentForMemberHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteComment">
      <wsdl:input message="tns:DeleteCommentHttpPostIn" />
      <wsdl:output message="tns:DeleteCommentHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertComment">
      <soap:operation soapAction="http://tempuri.org/InsertComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommentsByMovieId">
      <soap:operation soapAction="http://tempuri.org/GetCommentsByMovieId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvgRating">
      <soap:operation soapAction="http://tempuri.org/GetAvgRating" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMyComments">
      <soap:operation soapAction="http://tempuri.org/GetAllMyComments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastId">
      <soap:operation soapAction="http://tempuri.org/GetLastId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRatinByMovieAndComment">
      <soap:operation soapAction="http://tempuri.org/GetRatinByMovieAndComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPow">
      <soap:operation soapAction="http://tempuri.org/GetPow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsExist">
      <soap:operation soapAction="http://tempuri.org/IsExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMembers">
      <soap:operation soapAction="http://tempuri.org/GetMembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsCommented">
      <soap:operation soapAction="http://tempuri.org/IsCommented" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommentForMember">
      <soap:operation soapAction="http://tempuri.org/GetCommentForMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateComment">
      <soap:operation soapAction="http://tempuri.org/UpdateComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteComment">
      <soap:operation soapAction="http://tempuri.org/DeleteComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertComment">
      <soap12:operation soapAction="http://tempuri.org/InsertComment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommentsByMovieId">
      <soap12:operation soapAction="http://tempuri.org/GetCommentsByMovieId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvgRating">
      <soap12:operation soapAction="http://tempuri.org/GetAvgRating" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMyComments">
      <soap12:operation soapAction="http://tempuri.org/GetAllMyComments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastId">
      <soap12:operation soapAction="http://tempuri.org/GetLastId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRatinByMovieAndComment">
      <soap12:operation soapAction="http://tempuri.org/GetRatinByMovieAndComment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPow">
      <soap12:operation soapAction="http://tempuri.org/GetPow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsExist">
      <soap12:operation soapAction="http://tempuri.org/IsExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMembers">
      <soap12:operation soapAction="http://tempuri.org/GetMembers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsCommented">
      <soap12:operation soapAction="http://tempuri.org/IsCommented" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommentForMember">
      <soap12:operation soapAction="http://tempuri.org/GetCommentForMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateComment">
      <soap12:operation soapAction="http://tempuri.org/UpdateComment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteComment">
      <soap12:operation soapAction="http://tempuri.org/DeleteComment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceHttpGet" type="tns:WebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="InsertComment">
      <http:operation location="/InsertComment" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetCommentsByMovieId">
      <http:operation location="/GetCommentsByMovieId" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvgRating">
      <http:operation location="/GetAvgRating" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMyComments">
      <http:operation location="/GetAllMyComments" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastId">
      <http:operation location="/GetLastId" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRatinByMovieAndComment">
      <http:operation location="/GetRatinByMovieAndComment" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPow">
      <http:operation location="/GetPow" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsExist">
      <http:operation location="/IsExist" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMembers">
      <http:operation location="/GetMembers" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsCommented">
      <http:operation location="/IsCommented" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommentForMember">
      <http:operation location="/GetCommentForMember" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteComment">
      <http:operation location="/DeleteComment" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceHttpPost" type="tns:WebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="InsertComment">
      <http:operation location="/InsertComment" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetCommentsByMovieId">
      <http:operation location="/GetCommentsByMovieId" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvgRating">
      <http:operation location="/GetAvgRating" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMyComments">
      <http:operation location="/GetAllMyComments" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastId">
      <http:operation location="/GetLastId" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRatinByMovieAndComment">
      <http:operation location="/GetRatinByMovieAndComment" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPow">
      <http:operation location="/GetPow" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsExist">
      <http:operation location="/IsExist" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMembers">
      <http:operation location="/GetMembers" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsCommented">
      <http:operation location="/IsCommented" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommentForMember">
      <http:operation location="/GetCommentForMember" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteComment">
      <http:operation location="/DeleteComment" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:50088/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:50088/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceHttpGet" binding="tns:WebServiceHttpGet">
      <http:address location="http://localhost:50088/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceHttpPost" binding="tns:WebServiceHttpPost">
      <http:address location="http://localhost:50088/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>